<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 구문을 정의하는 영역 -->
<mapper namespace="com.spring.woori_boot.mapper.CommentMapper">
    <insert id="save"
            parameterType="com.spring.woori_boot.domain.CommentRequestDTO">
        INSERT INTO BLOG_COMMENT_TBL(CONTENT, BLOG_ID) VALUES (
                #{content}
            ,   #{blog_id}
        )
    </insert>

    <select id="viewComment"
            parameterType="com.spring.woori_boot.domain.PostRequestDTO"
            resultType="com.spring.woori_boot.domain.CommentResponseVO">
        SELECT
                ID
            ,   CONTENT
            ,   BLOG_ID
        FROM
                BLOG_COMMENT_TBL
        WHERE
                BLOG_ID = #{id}
    </select>
</mapper>